<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/users/login" method="post">
    <label for="mobile">Mobile:</label>
    <input type="text" id="mobile" name="mobile" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>

    <p th:text="${error}" style="color: red;"></p>

    <a href="/users">Users</a>
    <a href="/posts">Posts</a>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
</form>
</body>
</html>
